<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BTC - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Roboto" rel="stylesheet">
    <link href="/public/stylesheets/login.css" rel="stylesheet">
    <script src="/public/javascripts/jquery.js"></script>
</head>
<body>
    
</body>
</html>