<!DOCTYPE html>
<html lang="en">
<head>
        <title>BTC - Dashboard</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/stylesheets/dashboard.css">  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/public/javascripts/dashboard.js"></script>
</head>
<body>

        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand" href="#">Book Trading Club</a>
                  </div>
                  <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="/dashboard">Dashboard</a></li>
                      <li><a href="/dashboard/mybooks">My Books</a></li>
                      <li><a href="/dashboard/requests">Requests</a></li>     
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
              
              <div class="jumbotron dashboard-title">
                <div class="container text-center">
                  <h1>Dashboard</h1>      
                  <p></p>
                </div>
              </div>
              
              <div id="books-container">
                <% var currentBook = 0; %>
                <% for(var i = 0; i < Math.floor(books.length / 4); i++) { %>
                    <div class="row row-container">
                    <% for(var j = 0; j < 4; j++) { %>
                        <div class="col-sm-3 book-container" id="<%= books[currentBook].copy %>">
                        <img src="<%= books[currentBook].bUrl %>" class="img-responsive book-img" style="width:100%" alt="Image">
                        <p class="book-title"><%=books[currentBook].title%></p>
                        <% currentBook++; %>
                        </div>
                    <% } %>
                    </div>
                <% } %>
              </div>
              
              <footer class="container-fluid text-center footer">
                <p>Book Trading Club - Caue Pinheiro, Elian Figueiredo</p>
              </footer>
              
</body>
</html>
