<!DOCTYPE html>
<html lang="en">
<head>
        <title>BTC - My Books</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/stylesheets/dashboard.css">
        <link rel="stylesheet" href="/public/stylesheets/upload.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/public/javascripts/dashboard.js"></script>
</head>
<body>

        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Book Trading Club</a>
                  </div>
                  <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="/dashboard">Dashboard</a></li>
                      <li><a href="/dashboard/mybooks">My Books</a></li>
                      <li><a href="/dashboard/reqByMe">Requested by Me</a></li>
                      <li><a href="/dashboard/reqToMe">Requested to Me</a></li>
                      <li><a href="/dashboard/profile">My Profile</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                    </ul>
                  </div>
                </div>
              </nav>

              <div class="jumbotron dashboard-title">
                <div class="container text-center">
                  <h1>Upload Books</h1>
                </div>
              </div>

              <!-- Page Features -->
              <div class="rowup text-center">
                <div id="login-container">
                    <div id="login-box"></div>
                    <form id="login-form" action="javascript:uploadBook()">
                        <input class="login-field" type="number" name="isbn" placeholder="ISNB13" required>
                        <input class="login-field" type="text" name="title" placeholder="Book Title" required>
                        <input class="login-field" type="text" name="edition" placeholder="Book Edition">
                        <input class="login-field" type="text" name="author" placeholder="Book Author">
                        <input class="login-field" type="text" name="condition" placeholder="New/Used">
                        <input class="login-field" type="number" name="price" placeholder="Price">
                        <input class="login-field" type="text" name="coverurl" placeholder="Cover URL">
                        <input class="login-field" type="text" name="description" placeholder="Book Description">
                        <div id="login-buttons-container">
                            <input class="btn btn-primary btn-lg" type="submit" name="upload" value="Upload">
                        </div>
                    </form>
                </div>
              </div>

              <footer class="container-fluid text-center footer">
                <p>Copyright © Book Trading Club 2018</p>
              </footer>

</body>
</html>
