html, body {
    min-width: 1040px;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

  /* Add a gray background color and some padding to the footer */
footer {
    background-color: #222222;;
    padding: 15px;
    color: #FFF;
}

.dashboard-title {
    padding: 38px 0;
    color: #000;
    background: url('/public/images/dashboard-books.jpg');
    background-position: center;
    background-size: 100% auto;
}

#books-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.row-container {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.book-container {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 0 0 20px #CCC;
    border-radius: 6px;
    min-height: 400px;
}

.book-img {
    flex: 8;
}

.book-title {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    text-align: center;
}

.text-center {
  text-align: center;
}

.price {
  margin: auto;
  font-size: 1.2em;
  border-bottom: 1px solid #CCC;
  padding-bottom: 5px;
}

.empty-books {
    height: 410px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 5em;
}

.upload-book {
    display: block;
    width: 150px;
    margin: 20px auto;
}

#login-form {
    height: 150px;
}

#dashboard-page-title {
    display: inline-block;
    padding: 25px;
    background-color: rgba(210, 210, 210, 0.5);
    color: #000;
    box-shadow: 0 0 20px #000;
}

#deleteAccountConfirm {
    display: none;
}