.page-subtitle {
    font-family: 'Dosis', cursive;
    width: 100%;
    height: 1em;
    position: absolute;
    top: 10px;
    display: block;
    font-size: 2.5em;
    text-align: center;
    color: #FFF;
    margin: auto;
    text-shadow: 0 0 5px #000;
}

.page-title {
    top: 70px;
}

#login-container {
    top: calc(50vh - 200px);
    height: 400px;
}

#major {
    display: none;
  }
  
  #position {
    display: none;
  }
  